.decrement {
  grid-area: decrement;
}
.increment {
  grid-area: increment;
}
.count {
  grid-area: count;
  font-size: 128px;
  text-align: center;
}
.countLabel {
  grid-area: countLabel;
  text-align: center;
}

button {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 35px;
  width: 70px;
  height: 70px;
  display: flex;
  justify-self: center;
  align-content: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
}
