<mat-card>
  <form>
    <div>
      <mat-form-field>
        <input
          matInput
          placeholder="Username"
          value=""
          [(ngModel)]="formData.username"
          name="username"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input
          matInput
          placeholder="Password"
          type="password"
          [(ngModel)]="formData.password"
          name="password"
        />
      </mat-form-field>
    </div>
    <div>
      <button mat-button type="button" (click)="signIn()">
        Sign In
      </button>
    </div>
  </form>
</mat-card>
<mat-card class="never-do-this">
  <mat-card-header>
    <mat-card-title class="bold">Credentials Spy</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li>
        Username: <span class="bold">{{ formData.username }}</span>
      </li>
      <li>
        Password: <span class="bold">{{ formData.password }}</span>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
